body{
  background-color: #09031f;
  color: white;
  margin: auto;
  font-family: "Lucida Console", Courier, monospace;
}
.ultra{
  text-align: center;
  padding: 0px;
  margin: auto;
  border: 0px;
}

button, input{
  background-color: #09031f;
  border: 1px dotted white;
  color: white;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 12px;
  margin: 1%;
  border-radius: 3px;
}
button, input{
  transition-duration: 0.4s;
}
button:hover{
  background-color: white;
  color: #09031f;
}
input:hover{
  background-color: white;
  color: #09031f;
}