body{
  background-color: #09031f;
  color: white;
  margin: auto;
  font-family: "Lucida Console", Courier, monospace;
}
.ultra, .infra, #ml, .content{
  text-align: center;
  padding: 0px;
  margin: auto;
  border: 0px;
}
button, input, textarea, #exp, .content{
  background-color: #09031f;
  border: 1px dotted white;
  color: white;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 12px;
  margin: 1%;
  border-radius: 3px;
}
button, input, textarea, p, .content{
  transition-duration: 0.4s;
}

button:hover, input:focus, imput:hover, .content:hover, textarea:focus, textarea:hover{
  background-color: white;
  color: #09031f;
}
#da{
  display: none;
  margin: 1% auto;
}
#exp{
  border: 0px;
  margin:auto;
}
#ml, #add{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  text-align: center;
}
.content, .ac{
  margin: 2% auto;
  padding: 1%;
}
ul, li{
  text-align: left;
}